<div class="text-center">

<br>
<br>

<h1 class="titolo animate__animated animate__bounceInLeft">Puoi trovarmi su:</h1>

<br>

<a href="https://www.linkedin.com/in/nico-didonna" target="_blank" class="animate__animated animate__zoomIn">
  <img class="logo" src="../assets/linkedin.png" width="1.5%">
  <span class="descrizione">Linkedin</span>
</a>

<br>
<br>

<a href="https://github.com/nicodidonna" target="_blank" class="animate__animated animate__zoomIn">
  <img class="logo" src="../assets/github.png" width="1.5%">
  <span class="descrizione">GitHub</span>
</a>

<br>
<br>
<br>
<br>

<h1 class="titolo animate__animated animate__bounceInRight">Contattami:</h1>

<br>

<a href="mailto:nico_didonna@yahoo.it" class="animate__animated animate__zoomIn" >
  <img class="logo" src="../assets/mail.png" width="1.5%">
 </a>
 <span class="descrizione animate__animated animate__zoomIn">
   Mail : 
   <a href="mailto:nico_didonna@yahoo.it" >
     nico_didonna@yahoo.it
    </a>
  </span>

</div>