.titolo,.logo{
  margin-left: 30px;
  font-size: 40px;
}

.descrizione{
  margin: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: var(--main-color3);
}

.titolo{
  color: var(--main-color2);
}

.text-center{
  text-align: center;
}

.descrizione:hover{
  font-size: 21px;
}