<h1 class="titolo animate__animated animate__bounce"><span style="color: var(--main-color4)">let </span> <span style="color: var(--main-color1)">miPresento</span> =<span style="color: var(--main-color3)"> "</span></h1>
<p class="presentazione animate__animated animate__fadeIn" style="color: var(--main-color3)">
  Il mio nome è Nico Didonna e sono un ragazzo pugliese, che vive in provincia di Bari ed è nato nel 2000.<br>
  <br>
  Fin dalla primissima adolescenza ho vissuto uno stretto legame con la tecnologia: mi ha sempre appassionato e ne sono stato incuriosito in ogni suo aspetto.<br>
  Dopo le scuole medie avevo un'idea generale ma non concreta di ciò che avrei voluto fare nella mia vita: lavorare con i pc.<br>
  Ho frequentato le scuole superiori con un indirizzo informatico dove ho scoperto per la prima volta la programmazione, ed in quel momento la scintilla si fece viva e capii cosa mi piaceva veramente fare.<br>
  Durante gli anni scolastici ebbi un'infarinatura generale su tutto il mondo dell'informatica (sistemi informatici, architetture, database, sofware, hardware con diversi linguaggi di programmazione e markup come  HTML e JAVA) ma purtroppo nel mio percorso di studi non ci soffermammo su nessuno di questi argomenti con particolare attenzione, cosa che mi demoralizzò subito dopo essermi diplomato dato che non mi sentivo in grado di poter svolgere un lavoro nel settore.<br>
  <br>
  Quindi, dopo essermi diplomato a Luglio del 2019, persi la concentrazione per quanto riguarda lo sviluppo e fino al 2021 non toccai l'argomento lasciando spazio ad altre professioni.<br>
  <br>
  A fine 2021 finalmente la svolta, grazie a tanta determinazione, diversi corsi effettuati sia da autodidatta che con società esterne ed un tirocinio come sviluppatore web, ho ripreso a programmare ed imparare nuove cose in questo infinito mondo.<br>
  Dopo aver accantonato il linguaggio Java utilizzato a scuola, ho studiato - e sto studiando - JavaScript ed il framework Angular, ho imparato ad utilizzare CSS sfruttando anche diverse librerie come Bootstrap, Bootstrap Italia e Animate.css, mi sono aggiornato e perfezionato ulteriormente per quanto riguarda l'HTML e spero di poter continuare con la lista in futuro continuando a studiare e lavorare nel settore.
 </p>
 <h1 class="titolo2 animate__animated animate__bounceInUp" ><span style="color: var(--main-color3)">"</span>;</h1>
