<br>
<br>

<h2 class="text-center animate__animated animate__fadeIn" style="color: #cfffcc">//Questo è un Array di tecnologie che utilizzo ed ho utilizzato in passato</h2>

<br>

<h1 class="text-center animate__animated animate__fadeIn"><span style="color: var(--main-color4)">let </span> <span style="color: var(--main-color1)"> tecnologieUtilizzate</span> <span style="color: black"> =</span> <span style="color: var(--main-color2)"> [</span></h1>

<br>

<div class="row1-container">

  <div class="box  colore1 animate__backInUp animate__animated">
    <h2>HTML</h2>
    <p>Pilastro della programmazione che ho studiato sia autonomamente che a scuola</p>
    <img src="../assets/html.png" style="width: 60px;" alt="">
  </div>

  <div class="box colore2 animate__backInDown animate__animated">
    <h2>JAVASCRIPT</h2>
    <p>Linguaggio che uso principalmente, studiato sia con corsi che autonomamente e applicato a lavoro
    <img src="../assets/javascript.png" style="width: 60px;" alt=""></p>
  </div>

  <div class="box colore1 animate__backInUp animate__animated">
    <h2>ANGULAR</h2>
    <p>Framework fondamentale che utilizzo a lavoro, con cui ho approcciato in un corso di formazione.</p>
    <img src="../assets/angular.png" style="width: 60px;" alt="">
  </div>

  <div class="box  colore2 animate__backInDown animate__animated">
    <h2>CSS</h2>
    <p>Fondamentale per un frontender, studiato da completo autodidatta con librerie come bootstrap</p>
    <img src="../assets/css.png" style="width: 50px;" alt="">
  </div>
</div>

<br>
<br>

<div class="row1-container">

  <div class="box colore1 animate__backInUp animate__animated">
    <h2>JAVA</h2>
    <p>Uno dei linguaggi che ho studiato a scuola. Dopo il diploma non ho avuto l'occasione di utilizzarlo ancora

    <img src="../assets/java.png" style="width: 50px;" alt=""></p>

  </div>

  <div class="box colore2 animate__backInDown animate__animated">
    <h2>TYPESCRIPT</h2>
    <p>Estensione di JavaScript che ho imparato ad utilizzare lavorando ai miei progetti con Angular</p>
    <img src="../assets/typescript.png" style="width: 60px;" alt="">
  </div>


  <div class="box colore1 animate__backInUp animate__animated">
    <h2>PHP</h2>
    <p>Un altro dei linguaggi che ho studiato a scuola e successivamente "accantonato", ma che vorrei riprendere</p>
    <img src="../assets/php.png" style="width: 110px;" alt="">
  </div>

  <div class="box colore2 animate__backInDown animate__animated">
    <h2>BOOTSTRAP</h2>
    <p>Libreria che utilizzo spesso nei miei progetti, affiancata a bootstrap-italia nella creazione di siti web per la PA</p>
    <img src="../assets/bootstrap.png" style="width: 60px;" alt="">
  </div>

</div>

<br>
<br>

<h1 class="text-center animate__animated animate__fadeIn" ><span style="color: var(--main-color2)">]</span><span style="color: black;"> ;</span></h1>

