/* You can add global styles to this file, and also import other style files */
:root{
  --main-black: #222021;
  --main-color1: #3083DC;
  --main-color2: #D7263D;
  --main-color3: #FF6F59;
  --main-color4: #2EBFA5;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

*{
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-black);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
