/* You can add global styles to this file, and also import other style files */
:root{
  --main-black: #222021;
  --main-color1: #3083DC;
  --main-color2: #D7263D;
  --main-color3: #FF6F59;
  --main-color4: #2EBFA5;
}

*{
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-black);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
